body {
    background-color: rgb(240, 237, 229);
}

h1 {
    padding-top: 2%;
    padding-bottom: 5%;
    text-align: center;
}

#contenu {
    padding-left: 5%;
    padding-right: 5%;
}
