.loginContainer {
    padding-top: 25vh;
    padding-left: 30%;
    padding-right: 30%
}

.loginContainer label {
    text-align: center;
}
  
.loginContainer input {
    width: 100%;
    text-align: center;
}