<!DOCTYPE html>
<html ng-app="todoApp">
    <head>
        <meta charset="utf-8">
        <script src="js/angular.min.js"></script>
        <script src="js/todoAddToList.js"></script>

        <link rel="stylesheet" type="text/css" href="css/modifyText.css">
    </head>
    <body ng-controller="TodoCtrl">
        <form ng-submit="addTask()">
            Ajouter la tâche : <input type="text" ng-model="taskName"/>
            <input type="submit" value="Ajouter"/>
        </form>
        <br>
        <br>
        <div ng-repeat="ta in taskSet">
            <input type="checkbox" ng-checked="ta.done" ng-click="checkDone(ta)"> 
            <span class="done{{ta.done}}">{{ta.taskName}}</span>
            <button ng-click="remove(ta)">  X</button>
        </div>

    </body>
</html>