<!DOCTYPE html>
<html ng-app="LoginApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scame=1, shrink-to-fit=no">
        <title>Liste des choses à faire</title>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/login.css">
    </head>
    
    <body ng-controller="loginController">
        {{coucou}}
        <div class="loginContainer">
            <h1>Adopte une liste.com</h1>
            <form class="loginForm">
                <input required type="text" class="form-control" placeholder="Identifiant" ng-model="user.pseudo">
                <br>
                <input required type="password" class="form-control" placeholder="Mot de passe sécurisé" ng-model="user.password">
                <br>
                <div class="row">
                    <div class="col text-center">
                        <button class="btn btn-success btn-lg btn-block" type="submit" ng-click="connect()">Se connecter</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col text-center">
                        <button class="btn btn-outline-primary btn-sm" type="submit" ng-click="register()">S'enregistrer</button>
                    </div>
                </div>
                <br>
                <div class="alert alert-danger" role="alert" id="usernameAlreadyUsed" ng-if="errorMessage">
                    {{errorMessage}}
                </div>
                <div class="alert alert-success" role="alert" id="usernameCreated" ng-if="successMessage">
                    {{successMessage}}
                </div>
            </form>
        </div>

        
        <!--Script pour AngularJS-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="https:////ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-cookies.js"></script>

        <!--Scripts pour Bootstrap-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!--Notre script-->
        <script src="js/login.js"></script>
    </body>
</html>