<!DOCTYPE html>
<html ng-app="List">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scame=1, shrink-to-fit=no">
        <title>Liste des choses à faire</title>
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/list.css">
    </head>
    
    <body ng-controller="listController">
        <nav class="navbar sticky-top navbar-dark bg-dark">
            <a class="navbar-brand" style="color:darkgray"><i class="fas fa-igloo"></i> {{user.pseudo}}</a>
            <form class="form-inline">
                <button class="btn btn-outline-secondary" type="button" ng-click="disconnect()">
                        <i class="fas fa-door-open"></i> Se déconnecter
                </button>
            </form>
        </nav>
        <h1>La liste des listes des choses à faire : {{coucou}}</h1>
        <div class="listContainer">
            <h3>Listes de choses à faire : <span class="badge">{{laliste.length}}</span></h3>
            <br/>
            
            <div class="container">
                <div class="card-columns">
                    <div class="card"  ng-repeat="x in laliste">
                        <div class="card-header text-center">"{{x.nom}}" par <strong>{{x.creator.pseudo}}</strong></div>
                        <div class="card-body text-center">
                            <div>
                                {{x.description}}
                            </div>
                            <div>
                                    <span class="badge">{{x.date | date:'dd/MM/yyyy à HH:mm'}}</span>
                            </div>
                            <div ng-repeat="y in x.contributors">
                                <span class="badge badge-pill badge-secondary">{{y.pseudo}} <button class="btn">X</button></span>
                            </div>
                        </div> 
                        <div class="card-footer text-center">
                            <div class="btn-group-vertical">
                                <div class="btn-group">
                                    <button class="btn btn-success" ng-click="enterList(x._id)">Accéder</button>
                                </div>
                                <button class="btn btn-danger" ng-click="deleteList(x._id)">Supprimer</button>
                            </div>
                        </div>                        
                    </div>
                    <div class="card">
                            <div class="card-header text-center">
                                <input required class="form-control" placeholder="Nom de la liste" ng-model="formData.nom">
                            </div>
                            <div class="card-body text-center">
                                <textarea class="form-control" placeholder="Description de la liste" ng-model="formData.description" rows="3"></textarea>
                            </div> 
                            <div class="card-footer text-center">
                                <button class="btn btn-primary" type="submit" ng-click="createList()">Ajouter</button>
                            </div>    
                    </div>
                </div>
            </div>
        </div>

        <!--Script pour AngularJS-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="https:////ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-cookies.js"></script>
        
        <!--Scripts pour Bootstrap-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!--Notre script-->
        <script src="js/list.js"></script>
        
    </body>
</html>