<!DOCTYPE html>
<html ng-app="TodoList">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scame=1, shrink-to-fit=no">
        <title>Liste des choses à faire</title>
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/todo.css">
    </head>
    
    <body ng-controller="todoController">
        <nav class="navbar sticky-top navbar-dark bg-dark">
            <a href ng-click="goBack()" class="navbar-brand" style="color:darkgray"><i class="fas fa-igloo"></i> {{user.pseudo}}</a>
            <form class="form-inline">
                <button class="btn btn-outline-secondary" type="button" ng-click="disconnect()">
                    <i class="fas fa-door-open"></i> Se déconnecter
                </button>
            </form>
        </nav>
        
        
        <div class="fixed-bottom">
                
            <div class="progress sticky-bottom"> 
                <div class="progress-bar progress-bar-striped" style="width:{{percent}}">{{percent}}</div>
            </div>
        </div>
        

        <h1>La liste des choses à faire : {{coucou}}</h1>
        <br>
        <div id="contenu">
            <h3>Choses à faire : <span class="badge">{{laliste.length}}</span></h3>
            <br/>
            <div id="todo-list" class="table">
                <table class="table">
                    <thead class="thead-dark">
                        <tr class="d-flex">
                            <th class="col-5" scope="col">Tâche</th>
                            <th class="col-2" scope="col">Auteur</th>
                            <th class="col-4" scope="col">Date de création</th>
                            <th class="col-1" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="x in laliste">
                        <tr class="d-flex">
                            <td class="col-1">
                                <div class="form-check">
                                    <input class="form-check-input position-static" type="checkbox" ng-checked="x.done" ng-click="checkDone(x)">
                                </div>
                            </td>
                            <td class="col-4"><input type="text" ng-model="x.text" ng-blur="modifyTodo(x)" class="form-control-plaintext done{{x.done}}" aria-disabled="{{x.done}}"></td>                                
                            <td class="col-2">Par <strong>{{x.author}}</strong></td>
                            <td class="col-4">{{x.date | date:'dd/MM/yyyy à HH:mm'}}</td>
                            <td class="col-1">
                                <button class="btn btn-danger" ng-click="deleteTodo(x._id)"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="input-group input-custom">
                    <input class="form-control" type="text" placeholder="Tâches : acheter du camembert, nourrir ses sims, ..." ng-model="formData.text" required>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit" ng-click="createTodo()">Ajouter</button>
                    </div>
                </div>
            </div>
            
        </div>

        

        <!--Script pour AngularJS-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="https:////ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-cookies.js"></script>
        
        <!--Scripts pour Bootstrap-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!--Notre script-->
        <script src="js/todo.js"></script>
        
    </body>
</html>