<div>
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" style="color:darkgray"><i class="fas fa-igloo"></i> {{user.pseudo}}</a>
        <form class="form-inline">
            <button class="btn btn-outline-secondary" type="button" ng-click="disconnect()">
                    <i class="fas fa-door-open"></i> Se déconnecter
            </button>
        </form>
    </nav>
    <h1>La liste des listes des choses à faire : {{coucou}}</h1>
    <div class="listContainer">
        <h3>Listes de choses à faire : <span class="badge">{{laliste.length}}</span></h3>
        <br/>
        
        <div class="container">
            <div class="card-columns">
                <div class="card"  ng-repeat="x in laliste">
                    <div class="card-header text-center">"{{x.nom}}" par <strong>{{x.creator.pseudo}}</strong></div>
                    <div class="card-body text-center">
                        <div>
                            {{x.description}}
                        </div>
                        <div>
                                <span class="badge">{{x.date | date:'dd/MM/yyyy à HH:mm'}}</span>
                        </div>
                        <div ng-repeat="y in x.contributors">
                            <span class="badge badge-pill badge-secondary">{{y.pseudo}} <button class="btn">X</button></span>
                        </div>
                    </div> 
                    <div class="card-footer text-center">
                        <div class="btn-group-vertical">
                            <div class="btn-group">
                                <button class="btn btn-success" ng-click="enterList(x._id)">Accéder</button>
                            </div>
                            <button class="btn btn-danger" ng-click="deleteList(x._id)">Supprimer</button>
                        </div>
                    </div>                        
                </div>
                <div class="card">
                        <div class="card-header text-center">
                            <input required class="form-control" placeholder="Nom de la liste" ng-model="formData.nom">
                        </div>
                        <div class="card-body text-center">
                            <textarea class="form-control" placeholder="Description de la liste" ng-model="formData.description" rows="3"></textarea>
                        </div> 
                        <div class="card-footer text-center">
                            <button class="btn btn-primary" type="submit" ng-click="createList()">Ajouter</button>
                        </div>    
                </div>
            </div>
        </div>
    </div>
</div>