<div>
    {{coucou}}
    <div class="loginContainer">
        <h1>Adopte une liste.com</h1>
        <form class="loginForm">
            <input required type="text" class="form-control" placeholder="Identifiant" ng-model="user.pseudo">
            <br>
            <input required type="password" class="form-control" placeholder="Mot de passe sécurisé" ng-model="user.password">
            <br>
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-success btn-lg btn-block" type="submit" ng-click="connect()">Se connecter</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col text-center">
                    <button class="btn btn-outline-primary btn-sm" type="submit" ng-click="register()">S'enregistrer</button>
                </div>
            </div>
            <br>
            <div class="alert alert-danger" role="alert" id="usernameAlreadyUsed" ng-if="errorMessage">
                {{errorMessage}}
            </div>
            <div class="alert alert-success" role="alert" id="usernameCreated" ng-if="successMessage">
                {{successMessage}}
            </div>
        </form>
    </div>
</div>