<div>
    <nav class="navbar sticky-top navbar-dark bg-dark">
        <a href ng-click="goBack()" class="navbar-brand" style="color:darkgray"><i class="fas fa-igloo"></i> {{user.pseudo}}</a>
        <form class="form-inline">
            <button class="btn btn-outline-secondary" type="button" ng-click="disconnect()">
                <i class="fas fa-door-open"></i> Se déconnecter
            </button>
        </form>
    </nav>
    
    <h1>La liste des choses à faire : {{coucou}}</h1>
    <br>
    <div id="contenu">
        <h3>Choses à faire : <span class="badge">{{laliste.length}}</span></h3>
        <br/>
        <div id="todo-list" class="table">
            <table class="table">
                <thead class="thead-dark">
                    <tr class="d-flex">
                        <th class="col-5" scope="col">Tâche</th>
                        <th class="col-2" scope="col">Auteur</th>
                        <th class="col-4" scope="col">Date de création</th>
                        <th class="col-1" scope="col"></th>
                    </tr>
                </thead>
                <tbody ng-repeat="x in laliste">
                    <tr class="d-flex">
                        <td class="col-1">
                            <div class="form-check">
                                <input class="form-check-input position-static" type="checkbox" ng-checked="x.done" ng-click="checkDone(x)">
                            </div>
                        </td>
                        <td class="col-4"><input type="text" ng-model="x.text" ng-blur="modifyTodo(x)" class="form-control-plaintext done{{x.done}}" aria-disabled="{{x.done}}"></td>                                
                        <td class="col-2">Par <strong>{{x.author}}</strong></td>
                        <td class="col-4">{{x.date | date:'dd/MM/yyyy à HH:mm'}}</td>
                        <td class="col-1">
                            <button class="btn btn-danger" ng-click="deleteTodo(x._id)"><i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="input-group input-custom">
                <input class="form-control" type="text" placeholder="Tâches : acheter du camembert, nourrir ses sims, ..." ng-model="formData.text" required>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" ng-click="createTodo()">Ajouter</button>
                </div>
            </div>
        </div>
        
    </div>
</div>